# Build output
build/
*.bin
*.elf
*.map

# ESP-IDF / Arduino generated
sdkconfig
flash_args
build.options.json

# Temporary files
*.tmp
*.bak
*.log

# OS
Thumbs.db
.DS_Store

# IDE
.vscode/
.idea/

# ZIP e backup
*.zip