###############################################################################
# ESP32 / Arduino
###############################################################################

# Build
build/
build-*/
cmake-build-*/

# Firmware compilato
*.bin
*.elf
*.map
*.hex

# ESP-IDF
sdkconfig
sdkconfig.old
flash_args
flasher_args.json
partition-table.bin
bootloader.bin
bootloader.elf

###############################################################################
# Log
###############################################################################

*.log

###############################################################################
# Backup
###############################################################################

*.bak
*.tmp
*.old

###############################################################################
# Windows
###############################################################################

Thumbs.db
Desktop.ini

###############################################################################
# macOS
###############################################################################

.DS_Store

###############################################################################
# IDE
###############################################################################

.vscode/
.idea/

###############################################################################
# Visual Studio
###############################################################################

*.VC.db
*.VC.opendb